.popup .overlay{
    position: fixed;;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vw;
    z-index: 1;
    display: none;
}
.popup .content{
    position:absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    background:transparent;
    width: 450px;
    height: 220px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
    width: 30px;
    height: 30px;
    background:#222;
    color: #fff;
    font: 25px;
    font-weight: 600;
    border-radius: 50%;
    font-size: 25px;

}


.popup.active .overlay{

    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);

}

.form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
#description , #caption{
    width: 80%;
}






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-container{
  /* margin-top: 20px; */
  background-color: #dae0e6;
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: row;
}

.post{
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa ;
  min-height: 70vh;
  padding: 10px;
}
.reations{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.icons{
  margin: 5px 0 ;
}
.main-post{
  padding:12px;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.small-heading{
  margin-bottom: 20px;
}
.community{
  font-size: 14px;
  margin: 12px 0;
  font-weight: bold;
}
.community span{
  font-weight: normal;
  font-size: small;
  /* color: #dadbdc; */
  color: gray;
}
.content{
  font-size: large;
  color: gray;
  font-weight: bold;
  padding-bottom: 12px;
}
.img-content{
  width: 400px;
}
.community-container{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: flex-start;
}
.community-container button{
  margin-top: 16px ;
  padding: 5px 14px ;
  background-color: #0079d3;
  border-radius: 12px;
  color: white;
  border: none;
}
.post-reactions{
  margin: 12px;
  display: flex;
  flex-direction: row;
}
.post-reactions i {
  margin: 5px;
  cursor: pointer;
}
.reaction-container{
  display: flex;
}
.comment-section{
  background-color: #fff;
  display: none;
  padding-left: 10px;
}
.active-comments{
  display: block;
}


.up-icon{
  border: 2px solid black;
  background-color: white;
}

@media screen and (min-width:786px) {
  .bg-container{
      background-color: #dae0e6;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
}


.display-likes{
  display: flex;
  flex-direction: row;
  gap: 5px;
}







.create_post{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.popup_post{
  border: 1px solid;
  width: 400px;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  position: absolute;
  background-color: white;
  top: -150%;
  left: auto;
  margin: auto;
  opacity: 0;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}


.popup_post.active1 {
  top: 15%;
  opacity: 1;
  transition: top 0ms ease-in-out 0ms,
  opacity 200ms ease-in-out 0ms,
  transform 20ms ease-in-out 0ms;
}

.popup_post > .a{
  display: flex;
  align-items: center;
  gap: 150px;
}
.popup_post .a .close_btn1{
  border: none;
  border-radius: 100%;
  background-color: lightgray;
  cursor: pointer;
}














.content1{
  display: flex ;
  flex-direction: row;
  align-items: center;
  /* padding: 20px; */

}
.logo-heading{
  padding: 10px;
  color: #ff441e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.search-bar{
  padding: 10px;
  padding-left: 30px;
  font-size: large;
  width: 50%;
  border-radius: 12px;
  margin: auto;
   
}
.search-icon{
  position: relative;
  left: 30px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.button2{
  background-color: #ff441e;
  color: white;
  padding: 10px 25px;
  margin: 0 10px;
  font-size: 15px;
  border: none;
  border-radius: 15px;
}
.button1{
  background-color: #f8f9fa;
  color: black;
  padding: 10px 25px;
  margin: 0 10px;
  font-size: 15px;
  border: none;
  border-radius: 15px;
}
.search-container{
  width: 50%;
}















body {
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}


.material-icons .menu-icons{
  color: rgb(96, 96, 96);
  font-size: 33px;
  margin-left:10px;
}

.menu-icon:hover{
  transform: none;
}

.contain{
  display: flex;
}

.text{
  margin-top:5px;
  margin-left: 8px;
}

.profile-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);  background-color: #fff;
  width: 187px;
  right:16px;
  top:57px;
  border-radius: 10px;
}

.menu-list li {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

.menu-list li:hover{
  background-color: #f9f9f9;
}


.profile-button{
  border-style: none;
  background-color:#f9f9f9
}

.profile-button:hover{
  background-color: #e5e5e5;
  cursor: pointer;
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}

.material-icons {
    color: rgb(96, 96, 96);
    font-size: 33px;
    margin-left:10px;
  }

.profile-button {
    /* padding: 8px 10px; */
    cursor: pointer;
    border-radius: 15px;
}

.profile-button {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 1;
}

/* .profile-button:hover .profile-menu {
  display: block;
} */



/* header */

.material-icons {
  color: rgb(96, 96, 96);
  font-size: 33px;
  border-radius: 20%;
}
.material-icons:hover{
  background-color: #e5e5e5;
  cursor: pointer;
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 0.5rem; /* Changed */
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}


.header__search form {
  border: 1px solid #ddd;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
}
.search-icon{
  display: none;
}

/* Sidebar */
.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: white;
  overflow-y: scroll;
  width: 250px; /* Start with a width of 0 */
  overflow: hidden; /* Hide the content that overflows the sidebar */
  transition: width 0.3s ease;
}
.sidebar.sidebar-visible {
    /* Styles for the visible state of the sidebar */
    width: 0px; /* Adjust the width as needed */
  }

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}






.videos {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  /* padding: 15px 15p; */
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}








@media (max-width: 425px) {
  .headersearch {
    display: none;
  }

  .headericons .material-icons {
    display: none;
  }

  .headerleft img{
    width:130px;
  }

  .menu-icon{
    display: none;
  }

  .headericons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 776px) {
  .headersearch {
    display: none;
  }

  .search-icon{
    display: inline;
  }

  .sidebar {
    width:80px;
  }
  .icon-text{
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: auto;
  }
}

@media (max-width: 978px) {
  .headersearch input {
    width: 300px;
  }
}